<h1> Dish Show Page </h1>

<div id="dish-info">
<h3> Name: <%= @dish.name %></h3>
<h3> Description: <%= @dish.description %></h3>
</div>

<div class="ingredient-list">
  
    <li>Ingredient List:</li>
    <% @dish.ingredients.each do |ingredient| %>
     <ul><%= ingredient.name  %></ul>
    <% end %>


